// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bgCarousel {
  height: 585px;
  width: 100vw;
}

.bgCarousel__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bgCarousel__item:nth-child(1) {
  background-image: url(haikei1.jpg);
}

.bgCarousel__item:nth-child(2) {
  background-image: url(haikei2.webp);
}

.bgCarousel__item:nth-child(3) {
  background-image: url(haikei3.jpg);
}

.sign-in{
  position: absolute;
  top: 60%; right: 40%;
}

.login{
  position: absolute;
  top: 60%; right: 60%;
}

.wf-roundedmplus1c { 
  font-family: "M PLUS Rounded 1c"; 
  font-size: 65px;
  position: absolute;
  top: 20%; left: 10%;
}

.GeekInstagtam{
  font-size: 30px;
}