// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.a{
  margin-right: 5%;
}

.form-inline my-2 my-lg-0{
  text-align: right;
}

.background{
  background-size: cover;
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

.card image{
  margin: 0 auto
}

